.pankuzu{
    background: white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    text-align: center;
}
.word-book-frame{
    width: 200px;
    height: 50px;
    border: 2px solid #72cdeb;
}

.word-book-input{
    border: 2px solid #72cdeb;
    width: 200px;
    display: none;
    flex-direction: column;
}
.word-book-input input{
    display: none;
}

.relation{
    width: 70px;
    height: 3px;
    background: black;
}

.chapter-input{
    border: 2px solid #72cdeb;
    width: 200px;
    display: none;
    flex-direction: column;
}
.chapter-frame{
    width: 200px;
    height: 50px;
    border: 2px solid #72cdeb;
}
.chapter-input input{
    display: none;
}

#reset-cover{
    position: fixed;
    width: 100%;
    height: 0;
}

label{
    line-height: 30px;
}