#slide-bar{
    z-index: 900;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin-top: 0;
    width: 400px;
    height: 100vh;
    background: #ffffff;
    text-align: center;
    line-height: 50px;
    flex-direction: column;
    font-size: 1.2rem;
    transform: translateX(500px);
    transition: .3s;
    padding: 0;
    border-left: 15px solid #425db6;
    background: linear-gradient(to bottom left ,#9fd1e2 50%, #d1dadd 50%);
}
.slide-bar-text{
    margin-top: 100px;
    background: #eff2f3c9;
}

.slide-bar-text a{
    text-decoration: none;
}
.slide-bar-text p{
    margin: 0;
    padding: 10px;
    border-left: 20px solid #dfe17f;
    border-right: 20px solid #dfe17f;
    border-top: 3px dashed #425db6;
    color: #72cdeb;
    font-size: 1.5rem;
    font-weight: bold;
}
.slide-bar-text p:hover{
    background: #eff2f3e5;
}
.menu-open-btn{
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.menu-open-btn div:nth-child(1){
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 20px);
    width: 40px;
    height: 4px;
    background: #72cdeb;
    transition: .3s;
}
.menu-open-btn div:nth-child(2){
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 4px;
    background: #72cdeb;
    transition: .3s;
}
.menu-open-btn div:nth-child(3){
    position: absolute;
    top: calc(50% + 16px);
    left: calc(50% - 20px);
    width: 40px;
    height: 4px;
    background: #72cdeb;
    transition: .3s;
}

.menu-open-btn.active div:nth-child(1){
    opacity: 0;
}
.menu-open-btn.active div:nth-child(2){
    transform-origin: center;
    top: calc(50% - 2px);
    transform: rotate(45deg);
}
.menu-open-btn.active div:nth-child(3){
    transform-origin: center;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
}

#cover{
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 200%;
    z-index: 500;
    background: rgba(0, 0, 0, 0.7);
}